html,
body {
  min-width: 1200px;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  background: #f2f2f2;
}

header,
main,
footer {
  width: 1200px;
  margin: 0 auto;
}

header,
footer {
  text-align: center;
}

li {
  list-style-type: none;
}

/*  Шрифт для формы  */

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "symbols";
    src: url("../fonts/symbols.woff") format("woff"), url("../fonts/symbols.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    display: inline-block;
    width: 1em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    font-weight: normal;
    line-height: 1em;
    font-family: "symbols";
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-variant: normal;
    speak: none;
}

.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */

/*  Шапка  */

.cover {
  box-shadow: 0 0 30px 10px #dbdbdb;
  width: 1200px;
  margin: 0 auto;
}

.main-header-navigation {
  display: block;
  list-style: none;
  padding: 0;
  background-color: #ffffff;
}

.main-header-navigation div {
  display: inline-block;
  width: 240px;
  padding: 14px 20px 16px;
  line-height: 26px;
  vertical-align: top;
  box-sizing: border-box;
}

.main-header-navigation .main-header-left {
  padding-left: 72px;
  text-align: left;
}

.main-header-navigation .main-header-right {
  text-align: right;
  padding-right: 72px;
}

.main-header-navigation a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
}

.main-header-navigation a:hover {
  color: #81b3d2;
}

.main-header-navigation a:active {
  color: #c1c1c1;
}

.main-header-navigation .main-header-logo {
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: relative;
  z-index: 10;
  width: 138px;
  height: 69px;
  top: 0;
}

.main-header-navigation-catalog {
  display: block;
  list-style: none;
  padding: 0;
  background-color: #ffffff;
}

.main-header-navigation-catalog div {
  display: inline-block;
  width: 240px;
  padding: 14px 20px 16px;
  line-height: 26px;
  vertical-align: top;
  box-sizing: border-box;
}

.main-header-navigation-catalog .main-header-left {
  padding-left: 72px;
  text-align: left;
}

.main-header-navigation-catalog .main-header-right {
  text-align: right;
  padding-right: 72px;
}

.main-header-navigation-catalog a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
}

.main-header-navigation-catalog a:hover {
  color: #81b3d2;
}

.main-header-navigation-catalog a:active {
  color: #c1c1c1;
}

.main-header-navigation-catalog .main-header-logo {
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: relative;
  z-index: 10;
  width: 138px;
  height: 55px;
  top: 0;
}


/*  index  */

.container {
  margin-top: -14px;
  text-align: center;
}

.container-welcome-img {
  padding-top: 76px;
  padding-bottom: 80px;
}

.container-welcome-title {
  position: relative;
  height: 508px;
  background: #517ca4 url("../img/background.png") no-repeat 50% 21%;
}

.container-welcome-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background: url(../img/polygon.png) no-repeat 50% 50%;
}

.container-features {
  margin-bottom: 1100px;
}

.container-features-shapes {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 51px;
  line-height: 26px;
}

.container-features-shapes h2 {
  margin: 0 360px;
  margin-bottom: 27px;
}

.container-features-shapes p {
  margin: 0;
}

.container-features-advantages-blue {
  line-height: 21px;
  background-color: #81b3d2;
  text-align: center;
  width: 33.3333333%;
  padding: 44px 3% 3% 44px;
  box-sizing: border-box;
  padding-top: 39px;
  box-sizing: border-box;
  float: left;
  min-height: 256px;
}

.container-features-advantages-title {
  font-size: 21px;
  color: white;
  padding: 0px 84px;
  margin-top: 8px;
}

.container-features-advantages-blue-number {
  padding-top: 5px;
  font-size: 14px;
  color: white;
  font-weight: normal;
}

.container-features-advantages-blue-text {
  padding-top: 7px;
  width: 310px;
  font-size: 14px;
  color: white;
  font-weight: normal;
}

.container-features-advantages-image {
  background: url("../img/sedona.png") #85b5d3 no-repeat;
  width: 66.6666666%;
  min-height: 256px;
  float: left;
  left: 0;
  top: 0;
}

.container-features-advantages-image-1 {
  background: url("../img/bridge.png") #85b5d3 no-repeat;
  width: 66.6666666%;
  min-height: 256px;
  float: left;
  left: 0;
  top: 0;
}

.container-features-description {
  width: 33.33%;
  float: left;
  text-align: center;
  padding-top: 62px;
  padding-bottom: 60px;
  background: #ffffff;
}

.container-features-description h3 {
  display: block;
  width: 125px;
  margin: 0 auto 23px;
  padding: 0;
  font-weight: 700;
  font-size: 21px;
}

.container-features-descriptions-2 .container-features-description {
  background: #f2f2f2;
}

.container-features-description-icon-1 {
  background: url("../img/house.svg") no-repeat center;
  height: 74px;
  margin-bottom: 26px;
}

.container-features-description-icon-2 {
  background: url("../img/food.svg") no-repeat center;
  height: 74px;
  margin-bottom: 26px;
}

.container-features-description-icon-3 {
  background: url("../img/gift.svg") no-repeat center;
  height: 74px;
  margin-bottom: 26px;
}

.container-features-description-title {
  font-size: 21px;
  color: black;
  display: block;
  width: 125px;
  margin: 0 auto 23px;
  padding: 0;
}
.container-features-description-text {
  font-size: 14px;
  color: #7d7d7d;
  font-weight: normal;
  padding-left: 58px;
  padding-right: 55px;
  margin-top: 26px;
  width: 280px;
}

.tag {
  width: 140px;
  padding: 28px 131px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-index {
  margin-top: -127px;
  background-color: #f9f9f9;
  opacity: 0.9;
  vertical-align: middle;
}

.tag,
.social,
.developer {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 21px;
}

.tag {
  width: 140px;
  padding: 28px 131px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.social {
  width: 160px;
  padding: 33px 120px;
  padding-right: 130px;
}

.developer {
  width: 200px;
  padding: 35px 90px;
}

.developer span {
  display: inline-block;
  vertical-align: middle;
  width: 75px;
  margin-right: 5px;
}

.developer a {
  display: inline-block;
  width: 113px;
  height: 39px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-size: 0;
  background: url("../img/logo-htmlacademy.svg") no-repeat;
}

.social-button {
  display: inline-block;
  width: 45px;
  height: 47px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-tw {
  line-height: 65px;
}

.social-fb {
  line-height: 70px;
}

.social-you {
  line-height: 65px;
}

/* Форма поиска на главной  */

.container-find {
    background: #ffffff;
}

.container-find-interested {
    padding: 55px 50px 47px;
}

.container-find-interested h3 {
    line-height: 24px;
    font-size: 30px;
    margin-bottom: 30px;
}

.container-find-interested p {
    line-height: 24px;
    margin-bottom: 0;
}

.search-form-container {
    position: relative;
    width: 568px;
    margin: 0 auto;
}

.search-button {
    display: block;
    width: 568px;
    margin: 0 auto;
    color: #ffffff;
    padding: 30px 0 30px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    background: #766357;
}

.search-form {
    display: none;
    position: absolute;
    top: 85px;
    left: 0;
    width: 568px;
    padding: 57px 55px;
    margin: 0 auto;
    box-sizing: border-box;
    line-height: 26px;
    text-align: left;
    font-weight: bold;
    background: #ffffff;
    z-index: 1;
}

@-webkit-keyframes zoom-in {
    from {
        -webkit-transform: translate(10px, 100px) rotate(0) scale(0);
        -ms-transform: translate(10px, 100px) rotate(0) scale(0);
        transform: translate(10px, 100px) rotate(0) scale(0);
    }
    to {
        -webkit-transform: translate(0, 0) rotate(360deg) scale(1);
        -ms-transform: translate(0, 0) rotate(360deg) scale(1);
        transform: translate(0, 0) rotate(360deg) scale(1);
    }
}

@keyframes zoom-in {
    from {
        -webkit-transform: translate(10px, 100px) rotate(0) scale(0);
        -ms-transform: translate(10px, 100px) rotate(0) scale(0);
        transform: translate(10px, 100px) rotate(0) scale(0);
    }
    to {
        -webkit-transform: translate(0, 0) rotate(360deg) scale(1);
        -ms-transform: translate(0, 0) rotate(360deg) scale(1);
        transform: translate(0, 0) rotate(360deg) scale(1);
    }
}

@-webkit-keyframes zoom-out {
    from {
        -webkit-transform: translate(0, 0) scale(1) rotate(0);
        -ms-transform: translate(0, 0) scale(1) rotate(0);
        transform: translate(0, 0) scale(1) rotate(0);
    }
    to {
        -webkit-transform: translate(10px, 100px) scale(0) rotate(-360deg);
        -ms-transform: translate(10px, 100px) scale(0) rotate(-360deg);
        transform: translate(10px, 100px) scale(0) rotate(-360deg);
    }
}

@keyframes zoom-out {
    from {
        -webkit-transform: translate(0, 0) scale(1) rotate(0);
        -ms-transform: translate(0, 0) scale(1) rotate(0);
        transform: translate(0, 0) scale(1) rotate(0);
    }
    to {
        -webkit-transform: translate(10px, 100px) scale(0) rotate(-360deg);
        -ms-transform: translate(10px, 100px) scale(0) rotate(-360deg);
        transform: translate(10px, 100px) scale(0) rotate(-360deg);
    }
}

.search-form-visible {
    display: block;
    -webkit-animation: zoom-in 0.9s ease-in-out;
    animation: zoom-in 0.9s ease-in-out;
}

.search-form-invisible {
    display: block;
    -webkit-animation: zoom-out 0.9s ease-in-out forwards;
    animation: zoom-out 0.9s ease-in-out forwards;
}

.search-form .form-line {
    position: relative;
    width: 458px;
    margin-bottom: 29px;
}

.sreach-form .form-line:nth-child(2) {
    margin-bottom: 30px;
}

.search-form label {
    float: left;
    padding: 5px 0 7px;
}

.search-form .field {
    float: right;
    line-height: 26px;
    padding: 4px 15px 8px;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-transform: uppercase;
    background: #f2f2f2;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
    color: #000000;
}

.search-form .field:hover {
    background: #ebebeb;
}

.search-form .field:focus {
    background: #ffffff;
    outline: 2px solid #e5e5e5;
}

.search-form .date {
    width: 346px;
    padding-right: 37px;
}

.search-form .icon-calendar {
    position: absolute;
    right: 6px;
    bottom: 0;
    font-size: 21px;
    font-weight: 200;
    line-height: 38px;
    color: #c2c2c2;
    cursor: pointer;
}

.search-form .icon-calendar:hover {
    color: #000000;
}

.search-form .icon-calendar:active {
    color: #81b3d2;
}

.search-form .half-width {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
}

.half-width .unit {
    width: 114px;
    padding-left: 55px;
    padding-right: 50px;
}

.half-width:first-child .unit {
    margin-right: 3px;
}

.half-width:last-child label {
    margin-left: 50px;
}

.half-width .unit-container {
    position: relative;
}

.unit-container .button {
    position: absolute;
    top: 0;
    padding: 6px 9px;
    line-height: 26px;
    color: #a9a9a9;
    background: #f2f2f2;
    border: none;
    outline: none;
}

.unit-container .button:hover {
    color: #000000;
}

.unit-container .button:active {
    color: #81b3d2;
}

.unit-container .minus-button {
    left: 112px;
}

.unit-container .plus-button {
    right: 0;
}

.half-width:first-child .plus-button {
    right: 3px;
}

.half-width:last-child .minus-button {
    left: 115px;
}

.search-form .find-button {
    display: block;
    width: 458px;
    margin: 0 auto;
    margin-top: 54px;
    padding: 14px 10px 15px;
    box-sizing: border-box;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    background: #81b3d2;
    border: none;
    outline: none;
}

.search-form .find-button:hover {
    background: #669ec0;
}

.search-form .find-button:active {
    background: #5496bd;
}

.search-form .find-button:active span {
    opacity: 0.3;
}

.map {
    background: url(../img/map.jpg) 50% 0 no-repeat;
    height: 593px;
}

.map iframe {
    border: 0;
    height: 593px;
    width: 100%;
}

/*Страница бронирования гостиниц*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container-filter-menu {
  padding-bottom: 0;
  padding-top: 15px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background: #4b7ea9 url("../img/filter-background.jpg") no-repeat 50% 20%;
}

.container-filter-menu h2 {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.container-filter-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-filter-menu li {
  display: block;
  margin-bottom: 25px;
}

.filter-button {
  display: block;
  margin-left: 86px;
  margin-bottom: 32px;
  padding: 6px 28px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.filter-button:hover {
  color: #000000;
  background: #ffffff;
}

.container-one-fourth {
  float: left;
  width: 180px;
  margin-left: 73px;
}

.container-one-fourth input {
  position: absolute;
  left: -9999px;
}

.container-one-fourth label {
  display: block;
  margin: 12px;
  margin-left: 0;
  padding-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-one-fourth input[type="checkbox"] + label {
  background-image: url("../img/icon-checkbox-none.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.container-one-fourth input[type="checkbox"]:disabled + label {
  background-image: url("../img/icon-checkbox-none-active.png");
  cursor: default;
}

.container-one-fourth input[type="checkbox"]:checked + label {
  background-image: url("../img/icon-checkbox-checked.png");
}

.container-one-fourth input[type="checkbox"]:checked:disabled + label {
  background-image: url("../img/icon-checkbox-checked-active.png");
}

.container-two-fourth {
  float: left;
  width: 180px;
  margin-left: 73px;
}

.container-two-fourth input {
  position: absolute;
  left: -9999px;
}

.container-two-fourth label {
  display: block;
  margin: 12px;
  margin-left: 0;
  padding-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-two-fourth input[type="checkbox"] + label {
  background-image: url("../img/icon-checkbox-none.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.container-two-fourth input[type="checkbox"]:disabled + label {
  background-image: url("../img/icon-checkbox-none-active.png");
  cursor: default;
}

.container-two-fourth input[type="checkbox"]:checked + label {
  background-image: url("../img/icon-checkbox-checked.png");
}

.container-two-fourth input[type="checkbox"]:checked:disabled + label {
  background-image: url("../img/icon-checkbox-checked-active.png");
}

.container-tree-fourth {
  float: right;
  width: 318px;
  margin-right: 73px;
}

.container-tree-fourth h2 {
  margin-left: -7px;
  margin-bottom: 8px;
}

.container-tree-fourth-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.container-tree-fourth-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container-tree-fourth-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 34px;
  vertical-align: top;
  cursor: pointer;
}

.container-tree-fourth-controls .max-price,
.container-tree-fourth-controls .min-price {
  width: 85px;
  padding-left: 65px;
}

.container-tree-fourth-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.container-tree-fourth-range {
  position: relative;
  margin-bottom: 32px;
}

.container-tree-fourth-range .scale {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.container-tree-fourth-range .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-button {
  display: block;
  margin-left: 86px;
  margin-bottom: 32px;
  padding: 6px 28px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.filter-button:hover {
  color: #000000;
  background: #ffffff;
}

.container-found {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 73px;
}

.container-found-satisfy {
  display: inline-block;
  margin-right: 45px;
  vertical-align: middle;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.container-found-sorting {
  display: inline-block;
  vertical-align: baseline;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.container-found-list h3 {
  display: inline-block;
  margin-right: 0;
  vertical-align: middle;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.container-found-list ul {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

.container-found-list li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 32px;
}

.container-found-list a {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.container-found-list a:hover {
  color: #81b3d2;
}

.container-found-list a:active {
  color: #000000;
  border-bottom: none;
}

.container-found-list .active {
  color: #81b3d2;
  border: none;
}

.container-found-sorting-buttons {
  position: absolute;
  top: 40px;
  right: 72px;
}

.container-found-sorting-buttons a {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 10px;
  vertical-align: top;
  font-size: 0;
  text-decoration: none;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #cccccc transparent;
}

.container-found-sorting-buttons a:last-child {
  margin-right: 0;
  border-width: 10px 5px 0 5px;
  border-color: #81b3d2 transparent transparent transparent;
}

.container-found-sorting-buttons a:hover {
  border-color: transparent transparent #000000 transparent;
}

.container-found-sorting-buttons a:active {
  border-color: transparent transparent #81b3d2 transparent;
}

.container-found-sorting-buttons a:hover:last-child {
  border-color: #000000 transparent transparent transparent;
}

.container-found-sorting-buttons a:active:last-child {
  border-color: #81b3d2 transparent transparent transparent;
}

.container-result {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  font-size: 0;
  position: relative;
  padding-top: 29px;
  padding-left: 73px;
  border-top: 1px solid #e5e5e5;
}

.container-result:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.container-result img,
.container-info {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-bottom: 30px;
}

.info-type-left,
.info-type-right {
  display: inline-block;
  vertical-align: top;
  min-width: 110px;
  margin: 0;
  padding: 0;
  margin-right: 5px;
  font-size: 0;
}

.info-type-right {
  width: 142px;
}

.container-info h3 {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: -6px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.container-info a {
  text-decoration: none;
  color: #000000;
}

.container-info a:hover {
  color: #81b3d2;
}

.container-info a:active {
  color: rgba(0, 0, 0, 0.3);
}

.container-info p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.container-info .button {
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #766357;
}

.container-info .button:hover {
  background-color: #604e43;
  color: #ffffff;
}

.container-info .button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.info-type-left .button {
  background-color: #81b3d2;
}

.info-type-left .button:hover {
  background-color: #669ec0;
}

.info-type-left .button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.container-result .rating {
  position: absolute;
  right: 70px;
  top: 28px;
  min-width: 111px;
  min-height: 90px;
}

.rating .star {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 17px;
  margin: 0;
  padding: 0;
  margin-right: 6px;
  font-size: 0;
  background: transparent url("../img/star.svg") no-repeat center;
}

.rating .star:last-child {
  margin-right: 0;
}

.rating-stars {
  position: absolute;
  right: 0;
}

.rating .rating-rate {
  position: absolute;
  right: 2px;
  bottom: -15px;
  width: 110px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}

.footer-catalog {
  margin-top: 0 auto;
  background-color: #f9f9f9;
  vertical-align: middle;
}